.sidebar {
  list-style-type: none;
  padding: 0;
}

.sidebar a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
}

.sidebar a.active {
  background-color: #555;
  border-radius: 8px;
  height: 35px;
}